<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Confirma tu Cuenta</title>
</head>

<body>
    <h1>¡Bienvenido a Tienda de Papelería!</h1>
    <p>Gracias por registrarte. Por favor, haz clic en el siguiente enlace para confirmar tu correo electrónico y
        activar tu cuenta:</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>Si no te registraste en nuestra tienda, puedes ignorar este correo.</p>
    <p>¡Gracias!<br>El equipo de Tienda de Papelería</p>
</body>

</html>