<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recuperación de Contraseña</title>
</head>

<body>
    <h1>Recuperación de Contraseña</h1>
    <p>Hola,</p>
    <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta. Haz clic en el siguiente enlace para
        continuar:</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>Este enlace es válido por 30 minutos.</p>
    <p>Si no solicitaste un cambio de contraseña, por favor, ignora este correo.</p>
    <p>¡Gracias!<br>El equipo de Mi Papelería Online</p>
</body>

</html>